{% extends 'main/base.html' %}
{% load static %}

{% block title %}Send | Request{% endblock %}

{% block content %}
    <section class="send-request-section">
        <div class="send-request-body">
            <a class="send-request-button" href="{% url 'funds_transfer' %}">
                <i class="fa-solid fa-paper-plane send-request-button-icon"></i>
                <p class="send-request-button-text">Send Money</p>
            </a>
             <a class="send-request-button" href="{% url 'request_funds' %}">
                 <i class="fa-solid fa-comments-dollar send-request-button-icon"></i>
                <p class="send-request-button-text">Request Money</p>
            </a>
        </div>
    </section>

{% endblock %}
