{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <section class="page-section reset-password-page-section" style="background-image: url('{% static 'reset_password_image.webp' %}')">
        <div class="reset-password-form">
            <h1 class="header">Reset password</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" id="email"/>
                </div>
                <button class="btn btn-primary w-100 mt-1" type="submit">Reset</button>
            </form>
            <a class="link-opacity-100 link mt-3" href="{% url 'login' %}"
            >Back to login!</a
            >
        </div>
    </section>
{% endblock %}
